<div class="row">
  <div class="col s12 center">
      <h3 class="center">{{message}}</h3>
      <div class="card">
        <div class="card-content">
          <p class="card-title">Get Total Balance</p>
          <form class="center" action="/bitcoin/balance" method="get">
            <button class="btn btn-flat white-text blue darken-1 waves-effect waves-light" type="submit" title="Get Balance">Get Balance</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="card-title">Get Balance of Address</p>
          <form class="center" action="/bitcoin/balance" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Address" id="address" type="text" class="validate" name="address" required>
                <label for="address">Address</label>
              </div>
              <div class="input-field col s12 center">
            <button class="btn btn-flat white-text blue darken-4 waves-effect waves-light" type="submit" title="Get Balance">Get Balance</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="card-title">Generate New Address</p>
          <form class="center" action="/bitcoin/generate/address" method="get">
            <button class="btn btn-flat white-text purple darken-1 waves-effect waves-light" type="submit" title="Generate New Bitcoin Address">Generate New Address</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="card-title">Send Bitcoin to Address</p>
          <form class="center" action="/bitcoin/send/bitcoin" method="post">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Address" id="address" type="text" class="validate" name="address" required>
                <label for="address">Address</label>
              </div>
              <div class="input-field col s12">
                <input placeholder="Amount" id="amount" type="number" class="validate" name="amount" step="any" required>
                <label for="address">Amount</label>
              </div>
              <div class="input-field col s12 center">
                <button class="btn btn-flat white-text green darken-1 waves-effect waves-light" type="submit" title="Generate New Bitcoin Address">Send Bitcoin</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="card-title">Get Unspent Transactions</p>
          <form class="center" action="/bitcoin/unspent/list" method="get">
            <button class="btn btn-flat white-text orange darken-3 waves-effect waves-light" type="submit" title="Get Transactions">Get Transactions</button>
          </form>
        </div>
      </div>
  </div>
</div>
