<div class="row">
  <div class="col s12 center">
    <h2 class="center">Unspent Transactions</h2>
    {{#each transactions}}
      <div class="card">
        <div class="card-content">
          <table class="striped highlight bordered">
            <thead>
              <tr>
                  <th>Action</th>
                  <th>Value</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Transaction Id :</td>
                <td>{{txid}}</td>
              </tr>
              <tr>
                <td>To Address :</td>
                <td>{{address}}</td>
              </tr>
              <tr>
                <td>Amount :</td>
                <td>{{amount}}</td>
              </tr>
              <tr>
                <td>Confirmations :</td>
                <td>{{confirmations}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
</div>
